.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.firstSection, .footer {
    background-color: #1f2937;
}

.firstSection h1, .firstSection h2 {
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.firstSection a, .firstSection p {
    font-size: 18px;
    color: #e5e7eb;
}

.header h2 {
    font-size: 24px;
    margin: 0px;
}

.links {
    display: flex;
    gap:10px;
}

a {
    text-decoration: none;
}

.maintitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.firstSection {
    padding: 20px 120px;
}

.leftOfMain button {
    background-color: #3882f6;
    padding: 10px 30px;
    color: #e5e7eb;
    font-weight: bold;
    border-radius: 10px;
}

.leftOfMain p {
    margin-top: 2px;
    margin-bottom: 5px;
}

.secondSection h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.showcase img {
    object-fit: cover;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 5px;

}



.thirdSection {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
}

.fourthSection {
    background-color: #3882f6;

}



