.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.firstSection, .footer {
    background-color: #1f2937;
}

.firstSection h1, .firstSection h2 {
    color: #f9faf8;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;

}

.firstSection a, .firstSection p {
    font-size: 18px;
    color: #e5e7eb;
}

.header h2 {
    font-size: 24px;
    margin: 0px;
}

.links {
    display: flex;
    gap:10px;
}

a {
    text-decoration: none;
}

.secondSection h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.thirdSection {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
}

.fourthSection {
    background-color: #3882f6;

}
